<!DOCTYPE html>
<!--Created by Daniel Verdejo on 11/10/2016-->


<nav class="navbar navbar-dark bg-danger">
    <!-- Navbar content -->
    <h2 class="header float-lg-left" style="color: white">FourLeaf Interactive</h2>

  
</nav>
<div>
    
</div>
    <p>this is the topic creation page</p>

<div class="input-box">
    <label for="title">Title of topic</label>
    <input type="text" class="form-control" id="title">
    <label for="body">Body of topic:</label>
    <textarea class="form-control" rows="10" id="body" ng-model+></textarea>
</div>
<div class="buttons">
    <button type="submit" class="btn btn-block btn-outline-success"> Save</button>
   <a href="#/topic" class="btn btn-block btn-outline-danger">Cancel</a> 
</div>
    
