<!DOCTYPE html>
<!--Created by Daniel Verdejo on 11/10/2016 Updated 12/11/2016 By Karle Sleith-->
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static',filename='myCss.css')}}">
        
  
        <title>projectApp</title>
        

    </head>
    <body>
       <H2 >Hhey im {{name}}</H2>
        <!-- by using the angular route library this allows us to make ajax calls to switch between pages with no refresh time  -->

        <div class="mp" ng-view>
            <script src="{{url_for('static',filename ='angular.min.js')}}"></script>
            <script src="{{url_for('static',filename='angular-route.min.js')}}"></script>
            <script src="{{url_for('static',filename ='bootstrap.js')}}"></script>
            <script src="{{ url_for('static',filename='bootstrap.min.js')}}"></script>
            <script src="{{ url_for('static',filename= 'app.js')}}"></script>
            <script src="{{url_for('static',filename='projectCtrl.js')}}"></script>
            <script src="{{ url_for('static', filename='services.js')}}"></script>
            <script src="{{url_for('static',filename= 'parse.js')}}"></script>
        </div>
        
    </body>
</html>